<div class="container text-center">
  <h1>About Page</h1>
  <p> We are DevMatch, our company focuses on creating an exclusive community 
  developers and entrepreneurs can meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa cum officia repellat modi illum. Saepe molestias ex perspiciatis, accusantium nihil fuga aut, quae pariatur veniam, quo ut aliquam. Hic, perspiciatis.</p>
</div>